.tox/
.idea/
__pycache__/
*.py[cod]
dist/
downloads/
eggs/
.eggs/
wheels/
*.egg-info/
*.egg
venv/
venv*/
docs/build/
docs/source/transforms/*.min.py
.cache/
.pytest_cache/
.circleci-config.yml
.coverage
.mypy_cache/
NOTES.md
