name: Unit Test

on: [push]

env:
   ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true

jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: ["python2.7", "python3.3", "python3.4", "python3.5", "python3.6", "python3.7", "python3.8", "python3.9", "python3.10", "python3.11", "python3.12", "pypy", "pypy3"]
    container:
      image: danielflook/python-minifier-build:${{ matrix.python }}-2024-01-12
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set version statically
        run: |
          VERSION=0.0.0
          sed -i "s/setup_requires=.*/version='$VERSION',/; s/use_scm_version=.*//" setup.py

      - name: Run tests
        run: |
          tox -r -e $(echo "${{ matrix.python }}" | tr -d .)
