name: Verify Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The release version to test'
        required: true
        type: string

permissions:
  contents: none

jobs:
  test_package:
    name: Test Package
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python: ["2.7", "3.3", "3.4", "3.5", "3.6", "3.7", "3.8", "3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
    container:
      image: danielflook/python-minifier-build:python${{ matrix.python }}-2025-08-21
    steps:
      - name: Test
        env:
          VERSION: ${{ inputs.version }}
        run: |
          pip${{ matrix.python }} install "python-minifier==$VERSION"
          pyminify --version
