name: Regression Test

on: [pull_request]

jobs:

  test:
    name: Regression Test
    runs-on: self-hosted
    strategy:
      fail-fast: false
      matrix:
        python: ["python2.7", "python3.3", "python3.4", "python3.5", "python3.6", "python3.7", "python3.8", "python3.9", "python3.10", "python3.11", "pypy3"]
    container:
      image: danielflook/python-minifier-build:${{ matrix.python }}-2022-10-25
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set version statically
        run: |
          VERSION=0.0.0
          sed -i "s/setup_requires=.*/version='$VERSION',/; s/use_scm_version=.*//" setup.py

      - name: Run tests
        run: |
          tox -r -e $(echo "${{ matrix.python }}" | tr -d .) xtest
