name: Regression Test

on: [pull_request]

permissions:
  contents: read

jobs:

  test:
    name: Regression Test
    runs-on: self-hosted
    strategy:
      fail-fast: false
      matrix:
        python: ["python2.7", "python3.3", "python3.4", "python3.5", "python3.6", "python3.7", "python3.8", "python3.9", "python3.10", "python3.11", "python3.12", "python3.13", "python3.14", "pypy3"]
    steps:
      - name: Clear workspace
        run: rm -rf "${GITHUB_WORKSPACE:?}/*"

      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 1
          show-progress: false
          persist-credentials: false

      - name: Set version statically
        run: |
          VERSION=0.0.0
          sed -i "s/setup_requires=.*/version='$VERSION',/; s/use_scm_version=.*//" setup.py

      - name: Run tests
        uses: ./.github/actions/run-in-container
        with:
          image: danielflook/python-minifier-build:${{ matrix.python }}-2025-08-21
          run: |
            
            if [[ "${{ matrix.python }}" == "python3.4" ]]; then
              (cd /usr/lib64/python3.4/test && python3.4 make_ssl_certs.py)
            elif [[ "${{ matrix.python }}" == "python3.5" ]]; then
              (cd /usr/lib64/python3.5/test && python3.5 make_ssl_certs.py)
            elif [[ "${{ matrix.python }}" == "pypy3" ]]; then
              (cd /usr/lib64/pypy3-7.0/lib-python/3/test && pypy3 make_ssl_certs.py)
            fi
            
            tox -r -e $(echo "${{ matrix.python }}" | tr -d .) -- xtest

  test-corpus:
    needs: test
    name: Minify Corpus
    uses: ./.github/workflows/test_corpus.yaml
    with:
      ref: ${{ github.ref }}
      base-ref: ${{ github.base_ref }}
